@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

/* doing changes when mobile size  */
@media (max-width: 600px){
  /* when mobile size screen then decrease width */
  .create_form,.login_form,.login_heading,.login_contenet{
    width: 25rem;
  }
  .create_form,.login_form{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
